@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Oxygen');
@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

.content {
  background-color: #c8e6ee;
  max-width: 960px;
  border-radius: 20px;
  display: block;
  height: auto;
}

header {
  background-color: #FEC601;
  color: #2364AA;
  font-family: 'Merriweather Sans', 'Arial', serif;  
  padding: 20px;
  line-height: 1.1em;
  margin-bottom: -2px;
  border-radius: 10px 10px 0 0;
}

footer {
  /*background-color: #AC5411;*/
  background-color: #640000;
  color: white;
  font-family: 'Merriweather Sans', 'Arial', serif;  
  font-size: 20px;
  padding: 20px;
  line-height: 1.1em;
  margin-bottom: -2px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

footer a {
  color: #c8e6ee;
}


main {
  padding: 20px;
  line-height: 1.1em;
  margin-bottom: -2px;
  font-family: 'Bitter', 'Arial', serif; 
  font-size: medium;
}

.portrait {    
  position: relative;
  top: 15px;
  right: -15%;
  object-fit: cover;
  width: 70%;
  border-radius: 5px;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.4);  
}  

H1, h2 {
  font-family: 'Merriweather Sans', 'Arial', serif;  
  padding: 20px;
  line-height: 1.1em;
}

#last-updated-span {
  color: yellow;
}

body {
  background-color: #266077;
  padding: 1em;
  font-family: 'Bitter', 'Arial', serif; 
}

#assignment-list {
  font-size: large;
  font-weight: bold;
}
