/*@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@500&display=swap');*/

:root {
    --primary-color: #1d3557ff;
    --secondary-color: #960000;
    --primary-background-color: #f1faeeff;
    --secondary-background-color: #a8dadcff;
    --accent-color: #457b9dff;
    font-family: 'Ubuntu', serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
}

html a {
    text-decoration: none;
    align-content: center;
}

aside {
    text-align: center;
    background-color: lightgreen;
    padding: 10px;
}

header {
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
    background-color: var(--primary-background-color);
    color: var(--primary-color);
}

header picture img {
    width: auto;
    height: 6rem;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.tagline {
    padding: 0.5rem 0;
}

header h1, header h2  {
    padding: 0;    
}

main {
    max-width: 60rem;
    margin: auto;
    /*display: block;*/
}

main h2 {
    text-align: center;
    padding: 5px 0;
}

.hero-container {
    position: static;
}

.hero-container picture {
    width: 100%;
    margin: 0;
    padding: 0;
}

.hero-container picture img {
    width: 100%;
    display: block;
}

.weather-summary {   
   text-align: center;
   background-color: var(--secondary-background-color);
   padding: 10px 0;
}

.weather-summary h3 {
    text-decoration: underline;
    padding-bottom: 5px ;
}
.forecast-container {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px,1fr));
    gap: 2px;
}

.forecast {
    background-color: lightgreen;
    text-align: center;
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 5px;
}

.forecast-container img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

nav {
    background-color: #ccc;
    font-family: 'Roboto', serif;
    font-size: clamp(0.7rem, 0.6vw + 0.6rem, 1.5rem);    
    margin: 0 auto;
}

.navigation {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation li:first-child { 
    display: block;
    border-top: none;
}

.navigation li {
    display: none;
    border-top: 1px solid rgba(0,0,0,0.3);
}

.showmenu li {
	display: block;
}

.hamburger  {
    font-size: 1.2rem;
    color: #555;
}

.navigation li a {
    display: block;
    text-align: left;
    color: #000;
    padding: .8rem 2%;
    font-weight: 600;
}

.navigation li a.active {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

.navigation li a:hover {
    background-color: rgba(0,0,0,0.4);
}

footer {
    max-width: 60rem;
    margin: auto;
    background-color: var(--secondary-background-color);
    color: var(--secondary-color);
    padding: 0;
    line-height: 1.1em;
    text-align: center;
}

.footer-bar p {
    margin: 0;
    padding: 0;
}

.map img {
    width: 100%;
    display: block;
}

.map h4 {
    display: none;
}

.contact-map {
    padding: 10px 0 0 0;
}

.contact-info {
    padding: 0 0 10px 0;
}

.contact-info p {
    padding: 5px;
}

.footer-bar {
    padding: 10px 0;
    background-color: lightgray;        
}

.footer-bar a:link {
    color: var(--secondary-color);
}

.footer-bar a:visited {
    color: var(--secondary-color);
}

.footer-bar a:hover {
    color: blue;
    font-weight: bold;    
}

.contentbox {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    height: auto;
    border: 1px dashed gray;
    background-color: lightgray;
}

article {
    background-color: var(--primary-background-color);
}

article div, article h3, article p {
    color: var(--primary-color);
    padding: 0 0 10px 0;
    margin: 0;
}

article img {
    width: 100%;
    display: block;
}

article picture {
    margin: 0;
}

.gallery {
    display: block;
}

figure {
    max-width: 300px;
    text-align: center;
    text-indent: 0;
    border: 1px solid #333333;
    border-radius: 5px;
    margin: 0.5em auto;
    padding: 0.5em;
    position: relative;
    box-sizing: border-box;
    /*box-shadow: 5px 5px 10px;
    border-radius: 5px;*/
}

figure img {
    width: 100%;
    display: block;
    filter: blur(0em);
    transition: filter 3s;
}

figcaption {
    padding: 5px;

}

figure img[data-src] {
    filter: blur(0.2em);
}

/*----------- FORM --------------*/
form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: 1rem;
}

form label.top input, form label.top select, form label.top textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 1px solid #999;
    border-radius: 4px;
    padding: 0.75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
    box-sizing: border-box;
}

form label.severity {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: 1rem;
    max-width: 20rem;
}

.storm-severity-label-text {
    width: 50%;
    text-align: left;
}

.storm-severity-value {
    color: #445ba9;
    font-weight: bold;
    width: 50%;
    text-align: right;
}


form label.severity input {    
    display: block;
    padding: 0;
    width: 100%;
}

form label.label-storm-region select {
    display: block;
    font-size: 1rem;
    padding: 0.75rem 0;
    width: 100%;
    max-width: 21.5rem;
    border: 1px solid #999;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.1);
}

.down-arrow {
    text-align: right;
    font-size: 2rem;    
}

form label.sbs {
    display: block;
    padding: 0.75rem 0;
    color: #555;
}

form textarea {
    height: 6rem;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

.featured-business {
    box-sizing: border-box;
    background-color: rgb(219, 200, 219);
    padding: 10px 10px 20px 10px;    
    margin-bottom: 10px;
    border: 1px solid gray;
}

.featured-business h3 {
    font-family: 'Roboto';
    font-size: 1.5rem;
    color: #222;
    margin: 10px;
}

.featured-business h3 span {
    color: var(--primary-color);
}

.featured-business picture {
    box-sizing: border-box;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5); 
    display: block;
    width: 94%;
    max-width: 480px;
    margin: 20px auto 5px auto;
    position: relative;
}

.featured-business picture img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.featured-business ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 2px;
    font-size: clamp(0.7rem, 0.7vw + 0.7rem, 1.56rem);
}

.cities {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-top: 10px;
}

.city {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
    border: 1px solid gray;
    margin-bottom: 10px;
    background-color: gainsboro;
}

.city picture {
    box-sizing: border-box;
    display: block;
    order: 1;
}

.city .city-info {
    box-sizing: border-box;
    display: block;
    order: 2;
}

.city:nth-child(even) picture {
    order: 2;
}

.city:nth-child(even) .city-info {
    order: 1;
}

.city-info h2 {
    box-sizing: border-box;
    background-color: #a8dadcff;
    color: #1d3557ff;
    font-family: 'Ubuntu', serif;
    font-size: clamp(0.9rem, 1vw + 1rem, 2.2rem);
}

.city-info .motto {
    box-sizing: border-box;
    color: #1d3557ff;
    font-family: 'Ubuntu', serif;
    font-size: clamp(0.7rem, 0.7vw + 0.8rem, 1.5rem);
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.city-info p {
    font-size: clamp(0.6rem, 0.7vw + 0.7rem, 1.4rem);
    box-sizing: border-box;
    padding: 10px max(10%, 10px);
}

.city-data {
    font-weight: bold;
}

.city picture img {
    display: block;
    width: 100%;    
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


/*This is for extreme small*/
@media only screen and (max-width: 379px) {
    .city {
        align-content: center;
    }

    .city picture {
        order: 1;
    }
    
    .city .city-info {
        order: 2;
    }

    .city:nth-child(even) picture {
        order: 1;
    }
    
    .city:nth-child(even) .city-info {
        order: 2;
    }

    .city picture img {
        display: block;
        width: 50%;   
        margin: 0 auto;
    }       
}