@media only screen and (min-width: 32.5rem) {

    .navigation { 
        display: flex; 
    }

    .navigation li { 
        display: block;
        flex: 1 1 100%; 
        overflow: hidden;
        border: none;
    }

    .navigation li:not(:last-child) { 
        border-right: 1px solid rgba(0,0,0,0.3);    
    }


    .navigation li a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;        
    }

    .navigation li:first-child { 
        display: none;
    }

    .navigation li a { 
        text-align: center;
        vertical-align: middle;
        padding: 0.8rem 1rem;
        margin: 0 auto;
    }
    .contentbox {
        margin: 1rem 0rem 1rem 0rem;
    }

    img {
        height: 8rem;
    }

}