@media only screen and (min-width: 32.5rem) {

    :root {
        --primary-color: #1d3557ff;
        --secondary-color: #960000;
        --primary-background-color: #f1faeeff;
        --secondary-background-color: #a8dadcff;
        --accent-color: #457b9dff;
        font-family: 'Ubuntu', serif;
        font-size: 16px;
    }

    .navigation { 
        display: flex; 
    }

    .navigation li { 
        display: block;
        flex: 1 1 100%; 
        overflow: hidden;
        border: none;
    }

    .navigation li:not(:last-child) { 
        border-right: 1px solid rgba(0,0,0,0.3);    
    }


    .navigation li a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;        
    }

    .navigation li:first-child { 
        display: none;
    }

    .navigation li a { 
        text-align: center;
        vertical-align: middle;
        padding: 0.8rem 1rem;
        margin: 0 auto;
    }
    /* .contentbox {
        margin: 1rem 0rem 1rem 0rem;
    } */

    header picture img {
        height: 8rem;
    }

    .hero-container {
        position: relative;
    }

    .weather-summary {
        position: absolute;
        top: 25px;
        left: 25px;
        background: radial-gradient(#f1faeeff, #a8dadcff);
        border: 1px solid black;
        padding: 1.5rem;
        box-shadow: 0 0 30px #111;
        opacity: .8;
    }

    .events {
        max-width: 40%;
        position: absolute;
        bottom: 25px;
        right: 25px;
        background: radial-gradient(#f1faeeff, #a8dadcff);
        border: 1px solid black;
        padding: 1rem;
        box-shadow: 0 0 30px #111;
        opacity: .8;
    }


    article {
        padding: 10px;
        overflow: hidden;
    }
    
    article div, article h3, article p {
        padding: 10px 0;
        margin: 0;
    }

    article picture {
        margin: 10px;
        width: 50%;
        float: right;
    }
    
    .contact-map {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
    }

    .contact-info {
        grid-column: 1;
        grid-row: 1;
        text-align: left;
    }

    .map {
        grid-column: 2;
        grid-row: 1;
    }

    .map-responsive{
        margin-top: 10px;
        margin-right: 10px;
        border: 1px solid grey;
    }    

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;    
    }

    form label.sbs {
        padding: 0.4rem 0;
    }

}